  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.thecocktaildb.com/images/ingredients/ice-Medium.png')">
    <div class="banner-content">
      <h1>Lu's Cocktails</h1>
      <p>Share your drinks with us</p>
      <%= link_to "Add a cocktail", "#cocktail-form", class:"btn btn-warning btn-lg" %>
    </div>
  </div>
